{% extends 'partials/bodyAdmin.html' %}

{% block contenido %}
<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Télefono</th>
        <th scope="col">Correo Electronico</th>
        <th scope="col">Asunto</th>
        <th scope="col">Comentario del Cliente</th>
        <th scope="col">Fecha</th>
    </thead>
    <tbody>

        
        {% for pqrs in pqrs  %}
        <tr>
            <td>{{pqrs.nombres}}</td>
            <td>{{pqrs.apellidos}}</td>
            <td>{{pqrs.telefono}}</td>
            <td>{{pqrs.email}}</td>
            <td>{{pqrs.asunto}}</td>
            <td>{{pqrs.comentarioCliente}}</td>
            <td>{{pqrs.fechaCreacion}}</td>
          </tr>
        {% endfor %}
        
    </tbody>
  </table></div>
{% endblock contenido %}
    