{% extends 'partials/bodyAdmin.html' %} 

{% load static %}

 {% block contenido %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Télefono</th>
              <th scope="col">Correo Electronico</th>
              <th scope="col">Asunto</th>
              <th scope="col">Comentario del Cliente</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for PQRS in pqrs %}
            <tr>
              {% if PQRS.estado == '1' %}

              <td>{{PQRS.nombres}}</td>
              <td>{{PQRS.apellidos}}</td>
              <td>{{PQRS.telefono}}</td>
              <td>{{PQRS.email}}</td>
              <td>{{PQRS.asunto}}</td>
              <td>{{PQRS.comentarioCliente}}</td>
              <td>{{PQRS.fechaCreacion}}</td>
              <td>{{PQRS.Estado}}</td>
              <td >
                <a class="btn btn-" href="{% url 'pqrs-eliminar' PQRS.id %}"><i class="fas  fa-trash-alt"></i></td>
                  {% endif %}  
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
