{% extends 'partials/bodyAdmin.html' %}
{% load static %}

{% block contenido %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">

            
                <table id="tabla-general" class="table">
                    <thead>
                    
                        <th scope="">Nombres</th>
                        <th scope="">Apellidos</th>
                        <th scope="">Tipo de Documento</th>
                        <th scope="">Número de Documento</th>
                        <th scope="">Télefono</th>
                        <th scope="">Tipo Usuario</th>
                        
                        <th scope="" class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                
                        
                        {% for usuario in usuarios   %}
                        <tr>
                            
                            {% if usuario.estado == '1' %} <!-- (== '1') -->
                        
                            <td>{{usuario.nombres}}</td>
                            <td>{{usuario.apellidos}}</td>
                            <td>{{usuario.tipoDocumento}}</td>
                            <td >{{usuario.numeroDocumento}}</td>
                            <td>{{usuario.telefono}}</td>
                            <td>{{usuario.tipoUsuario}}</td>
                            
                            <td ><a class="btn btn " href="{% url 'usuarios-editar' usuario.id %}"><i class="fas fa-edit"></i>
                            <a class="btn btn" href="{% url 'usuarios-eliminar' usuario.id %}"><i class="fas  fa-trash-alt"></i></td>
                            
                            {% endif %}
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>  
</div>

{% endblock contenido %}
