{% extends "partials/body.html" %}
{% load static %}

{% block contenido %}

<div class="container-fluid pt-5">
  <div class="row g-0 bg-light position-relative bg-body pt-5">
            {% for Promocion in promocion  %}
              {% include 'promocion/row-promocion.html' %}
            {% endfor %}
  </div>
</div>
  
      




        <div class="row g-0 bg-light position-relative bg-body">
          <div class="col-md-6 mb-md-0 p-md-4">
            <img src="{% static 'img/PLAN.jpg' %}" class="w-100" alt="...">
          </div>
          
          <div class="col ">
            
              <article class="card border-0 text-center justify-content-center h-100 " >
              <h1 class="mt-0 "style="color:red">PAQUETE NOCHE ROMANTICA</h1>
              <p><h5>VIVE LA MAGIA DE UNA NOCHE INOLVIDABLE EN PAREJA</h5></p>
              <p><h5>Por solo <h3 style="color:red">$350.000</h3></h5></p>
              <h6>Solo por tiempo limitado </h6>
                  
                      <a class="btn " href="#" role="button" style="color:red"><h3>Reserva Ahora</h3></a>
            </article>
            </div>
        </div>

{% endblock contenido %}
    