#img-logo{
    width: 9%;
    height: 9%
    }
    #barra{
        max-height: 90px;
        background-image: linear-gradient(to top, white 0%, #e3e4e5 80%);
        
    }
    
    #barra-blue{
        color: #191970;
        background-color:#e3e4e5;
    
    }
    #barra-blue{
       text-align:center;
       padding: auto;
       
       
    }
    
    #redes{
        text-align: left;
    
    }
    #idioma{
        border-radius: 4px ;
        text-decoration: none;
        color: #191970;
        font-size: 15px;
        padding: 4px;
    }
    #idioma{
        text-align: end;
        display:block;
    }
    #telefono{
        text-align: center;
    }
    #galeria{
        text-align: right;
    }
    #container-fluid{
        font-size: 30pt;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    #navbar-nav-scroll{
        --bs-scroll-height: 100px;
    }
    #nav-link{
        text-align: right; 
        padding-right: 520px;
        color: #191970;
    }
    


    #menu{
        font-size: 18px;
        
    }
    #navbar-brand{
        font-size: 35px;
    color: #191970;
    font-family: montserrat;
    }
    #row{
        margin: auto;
        border-radius: 20px;
    }
#footer{
    background-color: #e3e4e5;
    color: #191970;
    }

    #footer{
        background-image: linear-gradient(to top, #e3e4e5  0%, white 80%);
    color: #191970;
    }

    #H1{
        color: #191970;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 26px;
    }
    #h3{
        font-family: Arial;
        text-align: center;
        font-size: 19px;
    }
    #H3{
        font-family: Arial;
        text-align: left;
        font-size: 18px;
    }
    #col{
        text-align: left;
        
    }
    #order-5{
        text-align: right;
    }
    #card-text{
        text-align:justify;
    }
    h1{
        color: #191970;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 35px;
    }