#img-logo{
    width: 9%;
    height: 9%
    }
    #barra{
        max-height: 80px;
        background-image: linear-gradient(to top, white 0%, #e3e4e5 80%);
        
    }
    
    #barra-blue{
        color: #191970;
        background-color:#e3e4e5;
    
    }
    #barra-blue{
       text-align:center;
       padding: auto;
       
       
    }
    
    #redes{
        text-align: left;
    
    }
    #idioma{
        border-radius: 4px ;
        text-decoration: none;
        color: #191970;
        font-size: 15px;
        padding: 4px;
    }
    #idioma{
        text-align: end;
        display:block;
    }
    #telefono{
        text-align: center;
    }
    #galeria{
        text-align: right;
    }
    #container-fluid{
        font-size: 30pt;
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }
    #navbar-nav-scroll{
        --bs-scroll-height: 100px;
    }
    #nav-link{
        text-align: right; 
        padding-right: 520px;
        color: #191970;
    }
    #menu{
        font-size: 18px;
        
    }
    #navbar-brand{
        font-size: 35px;
    color: #191970;
    font-family: montserrat;
    }
    #row{
        padding: 1px;
        
    }
#footer{
    background-color: #e3e4e5;
    color: #191970;
    }

    #footer{
        background-image: linear-gradient(to top, #e3e4e5  0%, white 80%);
    color: #191970;
    }

    #H1{
        color: #191970;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 26px;
    }
    #h3{
        font-family: Arial;
        text-align: center;
        font-size: 19px;
    }
    #H3{
        font-family: Arial;
     
        text-align: left;
        font-size: 18px;
    }
    #btn{
        border-color: antiquewhite; 
        color:#191970;
       font-size: 13px;
    }
    .overlay{
        background:linear-gradient(to top, #0808085e  0%, rgba(8, 8, 8, 0.445) 80%);
        position: fixed;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }
    .overlay.active{
        visibility: visible;
    }
#h5{
    font-size: 10px;
}
    #popup{
        background: #f8f8f8;
        box-shadow: linear-gradient(to top, #0808085e  0%, rgba(8, 8, 8, 0.445) 80%);
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        text-align: center;
        width: 600px;
        transition: 3s;
        
        
        

    }
    #btn-abrir-popup{
        background-color: white;
        border: white;
        color: #20cfcf;
        
    }
    #btn-cerrar-popup{
        font-size: 16px;
        line-height: 20px;
        display: block;
        text-align: right;
        color:#e3e4e5;
        
        
    }
    #btn-cerrar-popup:hover{
        color:#191970

    }
    .popup h3 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 10px;
       


    }
    
    .popup h4 {
        font-size: 16px;
        font-weight: 200;
        margin-bottom: 20px;
        color: grey;
        

    }
    #container-inputs{
        width: 100%;
        font-size: 18px;
        text-align: center;
       

    }  
#btn-submit{

line-height: 40px;
border: none;
color: #f8f8f8;
background-color: #191970;

font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
cursor: pointer;
transition: .3s ease all;
    }  
#btn-submit:hover{
   background:  linear-gradient(to top, #282be9d5  0%, rgba(5, 3, 109, 0.767) 80%);
}
.popup.active{
   transition: 3s;
}




