{% extends 'partials/body.html' %}

{% load static %}
{% block contenido %}


<section>
<div class="carousel-inner ">
  <div class="carousel-item active ">
    <img src="{% static 'img/azul.jpg' %}" class="d-block w-100" alt="...">
    <div class="carousel-caption d-none d-md-block">
      <h1 id="h1">HABITACIÓN SENCILLA</h1>
      <p><h4> Una habitación diseñada para otorgar a sus residentes comodidad y confort.</h4></p>
    </div>
</section>
<br><br>
<div style="text-align:center;"><h3 id="h3">HOTEL LA ESTACIÓN</h3>
</div><br>

<div class="container-sm border-top border-bottom border-1 pt-4 pb-4">
  <div class="row ">
    <div class="col text-center " style="position:relative;">
      <img src="{% static 'img/azul 1.jpg ' %}" class="img-thumbnail shadow-lg " alt="...">
    </div>
    <div class="col text-center" style="position:relative ">
      <img src="{% static 'img/azul 2.jpg' %}" class="img-thumbnail shadow-lg"alt="...">
    </div>
    <div class="col text-center" style="position:relative; ">
      <img src="{% static 'img/azul 3.jpg' %}" class="img-thumbnail shadow-lg "alt="...">
    </div>
  </div>
</div>

<div class="container font-monospace">
<div class="container">
  <div class="row">
    <div class="col-6 col-sm-4 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
      <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z"/>
      <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
    </svg>Wifi</div>
    <div class="col-6 col-sm-4 text-center"><img src="{% static 'icons/perro.png' %}" width="16" height="16"alt="">Mascotas</div>
    
    <div class="col-6 col-sm-4 text-center"><img src="{% static 'icons/cama.png' %}" width="16" height="16"alt="">Cama Doble</div>
    <div class="col-6 col-sm-4 text-center"><img src="{% static 'icons/ducha.png' %}" width="16" height="16"alt="">TV</a></div>
    <div class="col-6 col-sm-4"></div>
    <div class="col-6 col-sm-4 text-center"><img src="{% static 'icons/aire-acondicionado.png' %}" width="16" height="16"alt="">Aire Acondicionado</div>   
  </div>
</div>
</div><br>

<div class="container">
<a href="{% static 'habitacion.html' %}" style="color: #191970;" class="card-link"><h5 id="h5"><img src="/HotelBosque/icons/campana-del-hotel.png"width="20" height="20" a href="/HotelBosque/habitacion.html">Visita Nuestras Habitaciones</a></h5></a>
</div>
<main >
<br><br>
<div class="container" id="container"><h3 id="h3">Datos para la Reserva</h3></div>
<br>
<div class="container">
<div class="accordion" id="accordionPanelsStayOpenExample">
<div class="accordion-item">
  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
      Reserva Ahora
    </button>
  </h2>
  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
    <div class="accordion-body">
      <strong></strong> <div class="container">
        <form class="row g-3"id="g-3">
          
            <div class="col-md-6">
              <label for="text" class="form-label">Nombres</label>
              <input type="text" class="form-control ">
            </div>
            <div class="col">
              <label for="text" class="form-label">Apellidos</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label for="text" class="form-label">Tipo de Documento</label>
              <select id="text" class="form-control" >
              <option selected>--</option>
              <option>Cedula de Ciudadania</option>
              <option>Tarjeta de Identidad</option>
              <option>Pasaporte</option>
            </select>
            </div>

            <div class="col">
              <label for="tel" class="form-label">Número de Documento</label>
              <input type="tel" class="form-control" >
            </div>
          
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="tel" class="form-label">Telefono</label>
            <input type="tel" class="form-control">
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Cantidad de Habitaciones</label>
            <select id="inputState" class="form-select">
              <option selected>CANT</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Personas a Hospedarse</label>
            <select id="inputState" class="form-select">
              <option selected>CANT</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Metodo de Pago</label>
            <select id="inputState" class="form-select">
              <option selected>--</option>
              <option>Efectivo</option>
              <option>Tarjeta de Credito</option>
            </select>
          </div>
          
          <div class="col-md-4">
            <label for="inputCity" class="form-label">Valor</label>
            <input type="text" class="form-control">
          </div>

          <div class="col-md-4">
            <label for="inputState" class="form-label">Habitación</label>
            <select id="inputState" class="form-select">
              <option selected>--</option>
              <option>Habitación Cama Sencilla</option>
              <option>Habitación Cama Doble</option>
              <option>Habitaciones Especiales</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="inputFecha" class="form-label">Fecha de LLegada</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-md-2">
            <label for="inputFecha" class="form-label">Fecha de Salida</label>
            <input type="date" class="form-control">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck">
              <label class="form-check-label" for="gridCheck">
                Aceptar Terminos y Condiciones
              </label>
            </div>
          </div>
          <div class="col-12 ">
            <button type="submit" class="btn btn-primary">Reservar</button>
          </div>
        </form>
      </div> 
      </div>
    </div>
  </div>
</div>
</div>
{% endblock contenido %}
