{% extends 'partials/bodyAdmin.html' %}

{% load static %}

{% block contenido %}
<!-- /.habitaciones-->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>01</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>02</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>03</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>04</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>05</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>06</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>07</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>08</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>09</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>10</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>11</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>12</h3>

                        <p>Sencilla</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>13</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>14</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>15</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>16</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>17</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>18</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>19</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>20</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>21</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>22</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>23</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Ocupada<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>24</h3>

                        <p>Doble</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>25</h3>

                        <p>Campestre</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-clock"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>26</h3>

                        <p>Campestre</p>
                    </div>
                    <div class="icon">
                        <i class="nav-icon fas fa-bed"></i>
                    </div>
                    <a href="#" class="small-box-footer">Disponible<i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6"
{% endblock contenido %}