{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
<div class="container text-center my-3 border-top border-3 pt-5">
  <p>
  <H1 id="H1"> Sede La Estación</H1>
  </p>
</div>
<div class="container-fluid">
  <div class="d-flex flex-wrap py-3  " s>
    
    {% for habitacion in habitaciones  %}
      {% include 'habitacion/card-habitacion.html' %}
    {% endfor %}
   
      
  </div>
  <br><br>
  <p></p>
  <div class="container text-center my-3 border-top border-3 pt-5">
    <p>
    <H1 id="H1"> Sede El Bosque</H1>
    </p>
  </div><br>
  <section>
    <div class="row align-items-center " style="text-align: center">
      <div class="col ">
        <h3 id="h3">Habitación Cama Sencilla</h3>
        <div class="card border-0 shadow-lg" style="width: 25rem;">
          <img src="/HotelBosque/img/sencilla.1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Deleniti officia sit, dolore aperiam illum sequi debitis vel mollitia dolores ab odit accusantium minima
              aliquam modi omnis. Molestiae assumenda id totam?</p>
          </div>

          <li class="list-group-item border-0 shadow-lg">Ventilador $33.000 <br><a
              href="/HotelBosque/Reservas/reserva_S_33.html">Reservar</a></li>
          <li class="list-group-item border-0 shadow-lg">Aire Acondicionado $36.000<br><a
              href="/HotelBosque/Reservas/reserva_S_36.html">Reservar</a> </li>
        </div>
      </div>
      <div class="col">
        <h3 id="h3">Habitación Cama Doble</h3>
        <div class="card border-0 shadow-lg" style="width: 25rem;">
          <img src="/HotelBosque/img/doble.1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Deleniti officia sit, dolore aperiam illum sequi debitis vel mollitia dolores ab odit accusantium minima
              aliquam modi omnis. Molestiae assumenda id totam?</p>
          </div>


          <li class="list-group-item border-0 shadow-lg">Ventilador $46.000 <br><a
              href="/HotelBosque/Reservas/reserva_D_46.html">Reservar</a></li>
          <li class="list-group-item border-0 shadow-lg">Aire Acondicionado $50.000<br><a
              href="/HotelBosque/Reservas/reserva_D_50.html">Reservar</a> </li>
        </div>
      </div>
      <div class="col">
        <h3 id="h3">Cabaña Alpina</h3>
        <div class="card border-0 shadow-lg" style="width: 25rem;">
          <img src="/HotelBosque/img/especial.3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text" id="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Deleniti officia sit, dolore aperiam illum sequi debitis vel mollitia dolores ab odit accusantium minima
              aliquam modi omnis. Molestiae assumenda id totam?</p><br><br>
          </div>

          <li class="list-group-item border-0 shadow-lg">Aire Acondicionado $350.000<br><a
              href="/HotelBosque/Reservas/reserva_C_350.html">Reservar</a> </li>
        </div>
      </div>
    </div>
</div>
</main><br><br>

{% endblock contenido %}