

{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


<section>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'img/azul.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="h1">HABITACIÓN SENCILLA </h1>
        <p><h4> Una habitación diseñada para otorgar a sus residentes comodidad
            y confort.</h4></p>
      </div>
    </section>
    <div class="container px-4 py-4" id="icon-grid">
      <h2 class="pb-2 border-bottom">Icon grid</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4
        py-5">

        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em"
            height="1.75em"><use xlink:href="#speedometer2"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">Featured title</h4>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em"
            height="1.75em"><use xlink:href="#toggles2"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">Featured title</h4>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em"
            height="1.75em"><use xlink:href="#geo-fill"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">Featured title</h4>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em"
            height="1.75em"><use xlink:href="#tools"></use></svg>
          <div>
            <h4 class="fw-bold mb-0">Featured title</h4>
            <p>Paragraph of text beneath the heading to explain the heading.</p>
          </div>
        </div>
      </div>
    </div>

<div class="container text-center "><a href="{% url 'reservar-formulario' %}">
    <button type="button1 " id="button1" class="btn btn-outline-light w-25 "
      style="color:white; " data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
      data-bs-whatever="@mdo">Reservar
      </a>
    </button>
  </a>
</div>

</div>



<div class="container px-4 pt-2 pb-4" id="custom-cards">
  <h2 class="pb-2 border-bottom"></h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark
        rounded-5 shadow-lg" style="background-image:
        url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long
            jacket</h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark
        rounded-5 shadow-lg" style="background-image:
        url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title
            that wraps to multiple lines</h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark
        rounded-5 shadow-lg" style="background-image:
        url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title
            belongs here</h2>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock contenido %}
