

{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


<section>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'img/azul.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="h1">HABITACIÓN SENCILLA </h1>
        <p><h4> Una habitación diseñada para otorgar a sus residentes comodidad
            y confort.</h4></p>
      </div>
    </section>
  
      <div class="container px-4 py-4" id="icon-grid">
      <h2 class="pb-2 border-bottom">Sede El Bosque</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
        py-5">

        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Cama sencilla </h5>
            <p>1 Cama</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\wifi.png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Wi-Fi</h5>
            <p>Gratis</p>
          </div>
        </div>
         <div class="col d-flex align-items-start">
          <img src="{% static 'icons\monitor-de-tv.png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Tv</h5>
            <p>Claro Hogar</p>
          </div>
        </div>
        <div class="col d-flex align-items-start ">
          <img src="{% static 'icons\perfil.png' %}" alt="login-icon" style="height: 2rem; " />
          <div>
            <h5 class="fw-bold p-2">Personas</h5>
            <p>4 Huéspedes</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\senal-de-estacionamiento.png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Estacionamiento</h5>
            <p>Gratis</p>
          </div>
        </div>
      </div>
    </div>

<div class="container text-center "><a href="{% url 'reservar-formulario' %}">
    <button type="button1 " id="button1" class="btn btn-outline-light w-25 "
      style="color:white; " data-bs-toggle="modal"
      data-bs-target="#exampleModal1"
      data-bs-whatever="@mdo">Reservar Ahora
    </button>
  </a>
</div>

</div>



<div class="container px-4 pt-2 pb-4" id="custom-cards">
  <h2 class="pb-2 border-bottom"></h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 justify-content-center">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark
        rounded-5 shadow-lg" style="background-image:
        url('unsplash-photo-1.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark
        rounded-5 shadow-lg" style="background-image:
        url('unsplash-photo-2.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"></h2>
        </div>
      </div>
    </div>

    
  </div>
</div>




{% endblock contenido %}
