{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}

<main>
  <section class="pt-5 pb-2 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Nuestras Sedes</font>
          </font>
        </h1>
        <p class="lead text-muted">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> El Hotel la Gran Estación, brinda a sus Clientes diferentes sedes
              para una mayor comodidad.</font>
          </font>
        </p>
      </div>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <h1 class="text-center pb-3">Sede La Estación</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col"><h3 class="text-center">Habitacion Sencilla</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\sencilla.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                 <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_s_e' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col" ><h3 class="text-center">Habitacion Doble</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\doble.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_d_e' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"><h3 class="text-center">Habitacion Especial</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\doble.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">lolEsta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_e_e' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="album pt-1 bg-light">
    <h1 class="text-center pb-5">Sede El Bosque</h1>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 pb-5">
        <div class="col"><h3 class="text-center">Habitacion Sencilla</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\doble.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_s_b' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"><h3 class="text-center">Habitacion Doble</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\doble.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_d_b' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"><h3 class="text-center">Habitacion Especial</h3>
          <div class="card shadow-sm">
            <img src="{% static 'img\doble.1.jpg' %}">
            <div class="card-body">
              <p class="card-text">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a
                    continuación como complemento natural de contenido adicional. Este contenido es un poco más largo.
                  </font>
                </font>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                  <button style=" background:#191970;" type="button" class="btn btn-sm  ">
                    <font style="vertical-align: inherit; "> <a href="{% url 'reservas_e_b' %}">
                      <font style="vertical-align: inherit; color:white;">Ver detalles</font></a>
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock contenido %}