{% extends "partials/body.html" %}
{% load static %}


{% block contenido %}
    <section class="pt-5">
        
        <div class="row py-lg-5 text-center ">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Servicios</font>
                </font>
              </h1>
              <p class="lead text-muted">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Comodidad, calidez, calidad, disfrute de verdad… Lo que busques de un buen Hotel en nuestro Hotel lo hallarás sin dudar.</font>
                </font>
              </p>
            </div>
          </div>
        <article class="card ">
            <div class="container-flex">
                <div class="row g-0 bg-light position-relative bg-body">
                    <div class="col-md-6 mb-md-0 ">
                        <img src="{% static 'img/campestre.jpg' %}" class="w-100 h-100 " alt="...">
                    </div>
                    <div class="col-md-6 p-0 ">

                        <div class="container p-0">
                            <div class="row">
                    
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre1.jpg' %}" class="w-100 h-100" alt="..."></div>
                                <div class="col-6  col p-0"><img src="{% static 'img/campestre2.jpg' %}" class="w-100 h-100" alt="..."></div>
                
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre4.jpg' %}" class="w-100 h-100" alt="..."></div>
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre3.jpg' %}" class="w-100 h-100" alt="..."></div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
 
    
            <div class="container-fluid marke">
          
              <!-- START THE FEATURETTES -->
 
          
              <div class="row featurette">
                <div class="col-md-5">
                  <h2 class="featurette-heading fw-normal lh-1">First featurette heading.</h2>
                  <p class="lead">No sólo es una estancia, no sólo es un Hotel, es un lugar cálido, cómodo y en el que podrás tener maravillosas experiencias.</p>
                  <p class="lead">Disfruta de nuestros servicios gratuitos y pensados especialmente para disfrutar en familia.</p>
                  <p class="lead"> Como lo son: Un espectacular jacuzzi, Cancha de futbol playa y Cancha de voleibol</p>
                  
                </div>
                <div class="col-md-7">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active">
                                <img src="{% static '/img/jacuzzi-banera-hidromasaje (2).jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/futbol.jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/playa (1).jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                        </div>
                    

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
              </div>

              <div class="container pt-1">
                <hr class="featurette-divider ">
                <div class="row mb-3 text-center ">
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">

                        <p>Un Hotel especializado en lograr que cada huésped viva las experiencias más increíbles que pueda tener disfrutando en el regazo de la naturaleza.
                          </p>
                    </article>
                </div>
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        
                        <p>Que te sientas en nuestro Hotel tan bien como en tu hogar, es el propósito que nos proponemos día a día alcanzar y por el que nos esforzamos sin parar.</p>
                    </article></div>
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        
                        <p>La vida es demasiado corta como para que te niegues al placer de disfrutar todo lo que nuestro Hotel la Gran Estación te tiene por dar y ofrecer visitanos.</p>
                    </article></div>
                  </div>
                </div>
              
          
              <div class="row featurette pt-4">
                <div class="col-md-5 order-md-2">
                  <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                  <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                </div>
                <div class="col-md-7 order-md-1">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active">
                                <img src="{% static '/img/jacuzzi-banera-hidromasaje (2).jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/futbol.jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/playa (1).jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                        </div>
                    

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
              </div>
           
          
            
            
                
            
              <div class="row featurette py-4 pb-5">
                <div class="col-md-5">
                  <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                  <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-7">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img" width="150" height="150"  ><img src="{% static 'img/mesa.jpeg' %}" class="h-100 w-75" alt="..."></svg>
                  
                </div>
              </div>
          
             
          
              <!-- /END THE FEATURETTES -->
          
            </div><!-- /.container -->
          
        
        
           
        
    </section>
{% endblock contenido %}
    