{% extends "partials/body.html" %}
{% load static %}


{% block contenido %}
    <section class="pt-5">
        
        <div class="container text-center pt-5"style="font-family:var(--bs-font-sans-serif)" >
            <h1 id="h1">DISFRUTA DE NUESTROS ESPECTACULARES <br> SERVICIOS <br><h4>HOBO-HUILA</h4></h1>
        </div>

        <article class="card ">
            <div class="container-flex">
                <div class="row g-0 bg-light position-relative bg-body">
                    <div class="col-md-6 mb-md-0 ">
                        <img src="{% static 'img/campestre.jpg' %}" class="w-100 h-100 " alt="...">
                    </div>
                    <div class="col-md-6 p-0 ">

                        <div class="container">
                            <div class="row">
                    
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre1.jpg' %}" class="w-100 h-100" alt="..."></div>
                                <div class="col-6  col p-0"><img src="{% static 'img/campestre2.jpg' %}" class="w-100 h-100" alt="..."></div>
                
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre4.jpg' %}" class="w-100 h-100" alt="..."></div>
                                <div class="col-6 col p-0"><img src="{% static 'img/campestre3.jpg' %}" class="w-100 h-100" alt="..."></div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>


        <div class="container-flex">
            <div class="row">
                <div class="col-sm-4">
                    <article class="card border-0  justify-content-center h-100 ">
                        <p style="text-align: left;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur molestias perferendis repudiandae, incidunt voluptatum quis unde distinctio quas cupiditate necessitatibus architecto ducimus id inventore quos laudantium error optio. Odio.</p>
                    </article>
                </div>
                <div class="col pt-4">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner h-100">
                                <div class="carousel-item active">
                                    <img src="{% static '/img/jacuzzi-banera-hidromasaje (2).jpg' %}" class="w-100 h-100" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="{% static 'img/futbol.jpg' %}" class="w-100 h-100" alt="...">
                                </div>
                                <div class="carousel-item h-100">
                                    <img src="{% static 'img/playa (1).jpg' %}" class="w-100 h-100" alt="...">
                                </div>
                            </div>
                        

                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                </div>
            </div>
        </div>

        <div class="container-flex">
            <div class="row g-0 bg-light position-relative bg-body">
                <div class="col-md-8 mb-md-0 p-md-4">
                <img src="{% static 'img/billar.jpg' %}" class="w-100" alt="...">
                </div>
                    <div class="col-md-4 p-4 ps-md-0 text-center">
                    <article class="card border-0 justify-content-center h-100">
                        <h3 class="mt-0 "> Columns with stretched link</h3>
                            <p  style="text-align: left;">Another instance of placeholder content for this other custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                    </article>
                    </div>
            </div>
        </div>

        <div class="container">
            <div class="row align-items-center">
                <div class="col pt-2 h-100 ">
                    <article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        <h2 style="text-align: center;">hola</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium cum praesentium eius rerum voluptatem doloremque cupiditate odit voluptatibus, blanditiis dicta at magnam voluptatum quod voluptate vero, fugiat, hic quaerat reiciendis.</p>
                    </article>
                </div>
                <div class="col pt-2 h-100">
                    <article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        <h2 style="text-align: center;">text</h2>
                        <p>Lorem ipsum dolor sit amet, sit . consectetur adipisicing elit. Saepe sed eos quisquam perferendis perspiciatis libero beatae ea, quidem ratione molestiae nobis delectus reiciendis modi numquam! Dolorum modi unde deleniti ipsa!</p>
                    </article>
                </div>
                <div class="col pt-2 h-100">
                    <article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        <h2 style="text-align: center;">lorem</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis commodi, veritatis perferendis laboriosam dolore rerum earum adipisci possimus eaque obcaecati asperiores similique cupiditate. Voluptates, alias ex ipsa ea voluptas illo.</p>
                    </article>
                </div>
            </div>
        </div>

        
            <div class="container-flex">
                <div class="row">
                    <div class="col-sm-4">
                        <article class="card border-0 text-center justify-content-center h-100">
                            <p  style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum pariatur molestias perferendis repudiandae, incidunt voluptatum quis unde distinctio quas
                            cupiditate necessitatibus architecto ducimus id inventore quos laudantium error optio. Odio.</p>
                            <a href="#" class="stretched-link">Go somewhere</a> 
                        </article>
                    </div>
                        <div class="col pb-4">
                            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{% static 'img/mesa.jpeg' %}" class="w-100" alt="...">
                                    </div>
                        
                                    <span class="visually-hidden">Next</span>
                                </div>
                            </div>  
                        </div>
                </div>
            </div>
        
    </section>
{% endblock contenido %}
    