
    {% block javascripttabla %}
    <script>
        // Script para visualizar los datos de los activos segun el que seleccione
        function displayTable(c) {
            if (c.value == "vehiculo") {
                jQuery('#table-vehiculo').toggle('show');
                jQuery('#table-extintor').hide();
                jQuery('#table-oficina').hide();
            }
    
            if (c.value == "extintor") {
                jQuery('#table-extintor').toggle('show');
                jQuery('#table-vehiculo').hide();
                jQuery('#table-oficina').hide();
            }
    
            if (c.value == "oficina") {
                jQuery('#table-oficina').toggle('show');
                jQuery('#table-vehiculo').hide();
                jQuery('#table-extintor').hide();
            }
        }
    </script>
    {% endblock javascripttabla %}