{% load static %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static 'img/logo.png' %}" alt="logo Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Hotel La Estacion</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="#{% static 'img/woman.png' %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Angelica Sofia</a>
      </div>
    </div>

 
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->


        <li class="nav-header">Usuarios</li>   
            
        <li class="nav-item">
              <a href="{% url 'usuarios-crear' %}" class="nav-link">
                <i class="nav-icon fas fa-users"></i>
                <p>Crear Usuarios</p>
              </a>
            </li>
         <li class="nav-item">
              <a href="{% url 'usuarios' %}" class="nav-link">
                <i class="nav-icon fas fa-user-plus"></i>
                <p>Ver Usuario</p>
              </a>
            </li> 
            
        </li>
        <li class="nav-header">Reservas</li>   
          <li class="nav-item">
            <a href="{% url 'crear-reserva' %}" class="nav-link">
              <i class="nav-icon fas fa-calendar days"></i>
              <p>Crear Reservas</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'reserva' %}" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Usuarios Registrados</p>
            </a>
          </li>
        </li> 
        <li class="nav-header">Recepcion</li>
        <li class="nav-item">
          <a href=# class="nav-link">
            <i class="nav-icon fas fa-bed"></i>
            <p>
              Habitaciones
            </p>
          </a>
        </li>
        <li class="nav-header">PQRS</li>
        <li class="nav-item">
          <a href=# class="nav-link">
            <i class="nav-icon fas fa-address-book"></i>
            <p>
              PQRS Registradas
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-file"></i>
                <p>Responder PQRS</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">Salir</li>
        <li class="nav-item">
          <a href="pages/mailbox/compose.html" class="nav-link">
            <i class="nav-icon fas fa-power-off"></i>
            <p>Salir</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->